@media screen and(max-width: 992px) {
	nav.navbar {
		padding: 0.4em;

		.logo {
			flex: 0;
		}
		ul {
			flex: 1;
			padding: 0px;
		}
	}
}
@media screen and(max-width: 768px) {
	nav.navbar {
		padding: 0.4em;

		.logo {
			flex: 0;
		}
		ul {
			flex: 1;
			padding: 0px;
		}
	}
}
@media screen and(max-width:768px) {
	main {
		width: 100%;
		height: 100%;

		.landingPage {
			.CTA {
			}

			.CTA-headline {
				margin-top: 30px;
				.circle {
					width: 350px;
					height: 350px;
					transform: translate(-50%, -50%);
				}
			}

			.CTA-button {
				margin-top: 100px;
			}
			.CTA-articles {
				h4 {
					padding-top: 50px;
				}
			}
		}
	}
}
