.landingPage {
	.heroSection {
		.heroHeadline {
			span {
				display: block;
				&:nth-child(1) {
					text-align: center;
					margin-left: 0px;
				}
				&:nth-child(2) {
					text-align: right;
					margin-right: 0px;
				}
				&:nth-child(3) {
					text-align: left;
				}
				&:nth-child(4) {
					text-align: right;
					margin-right: 120px;
				}
				&:nth-child(5) {
					text-align: center;
				}
			}
			.heading-span-outline {
				-webkit-text-stroke: 3px;
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke-color: var(
					--clr-neutral-black-400
				) !important;
			}
		}
	}
}
